@import _config.sass

.BC-footer
    position: relative
    display: block
    width: 100vw
    height: 90px
    background: linear-gradient($red, $darkGrey)
    color: $white

    .BC-logo
        position: absolute
        left: 15px
        +translateY(110%)

    .BC-copy
        font-size: 14px
        position: absolute
        left: 15vw
        +translateY(90%) 

    .BC-menu
    .BC-menu ul,
    .BC-menu ul li,
        margin: 0
        padding: 0

    .BC-menu
        position: absolute
        top: 50%
        right: 15px
        +translateY(-50%)

        ul li
            list-style: none
            display: inline-block
            margin-right: 10px

            &.BC-last
                margin: 0

            a 
                font-size: 12px
                line-height: normal
                color: $white

                &:hover
                    color: $red
                    text-decoration: none
                    +transition(.4s ease-in-out)




    


