@import _config.sass

.BC-header
    position: relative
    display: block
    width: 100vw
    height: 90px
    background: linear-gradient($red, $darkGrey)
    color: $white

    .logo
        position: absolute
        top: 50%
        left: 15px
        +translateY(-50%)

    .BC-search-form
    .BC-search-form input,
        margin: 0
        padding: 0

    .BC-search-form
        position: absolute
        left: 400px
        display: inline-block
        +translateY(50%)

        input
            width: 40vw
            height: 6.5vh
            border: none
            border-radius: 3px
            font-size: 20px
            padding: 10px

    .BC-nav
    .BC-nav ul,
    .BC-nav ul li,
        margin: 0
        padding: 0

    .BC-nav
        position: absolute
        top: 50%
        right: 15px
        +translateY(-50%)

        ul li
            list-style: none
            display: inline-block
            margin-right: 10px

            &.BC-last
                margin: 0

            a
                font-size: 19px
                line-height: normal
                color: $white

                &:hover
                    color: $red
                    text-decoration: none
                    +transition(.4s ease-in-out)

Carousel
  position: relative
  top: 70vh
