// vars

$black:     #010000
    
    
*
    margin: 0
    padding: 0

body
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    color: 
    font-weight: 400
    font-style: normal
    text-align: center